@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

/* general text formatting */

h1, h2, h3, nav, footer {
	font-family: 'Merriweather', serif;
}
body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
}


legend {
	background-color: #616161 ;
	color: white;
	height: 200%;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 97%;
	margin: auto;
	text-align: center;
	font-weight: bold;
	font-size: 130%;
}

fieldset {
	margin: 1em auto;
	background-color: #F5F5F5;
	width: 70em;
	padding: 10px 50px;
}

div#searchBox, div#settingsBox, div#paintingBox {
	margin: 0.10em auto;
	background-color: #E0E0E0;
	border: 1pt solid #616161;
	padding: 8px 14px;
}

.boxBreak1 {
	margin-top: 5px;
}

.boxBreak2 {
	margin-top: 20px;
}

div#paintingBox {
	background: #EFEFEF;
}

div#searchBox { 
	margin-top: 1em;
}

div#artistBox {
	background-color: #EEEEEE;
}

table thead {
	background-color: #E0E0E0;
	text-align: left;
}

table thead tr:not(:first-child) th {
	border-bottom: 1px solid black;
}

.titlePaintings {
	text-align: center;
	background-color: #bfbfbf;
	font-weight: bold;
	font-size: 120%;
	height: 3em;
}

.titlePaintings2 {
	height: 70%;
}

table tbody tr:not(:last-child) td {
	border-bottom: 1px solid black;
}

caption {
	background-color: #BDBDBD;
}

